@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #E5BE9E;
    --secondary-color: #CBC0AD;
    --accent1-color: #E9DAC8;
    --accent2-color: rgb(123, 123, 24);
  
    --heading-font: Playfair Display, serif;
    --paragraph-font: Playfair Display, serif;
  
    --nav-link-color: #ffffff;
    --nav-background-color: #251605;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #032136;
}

/* General reset and basic styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
    text-align: center;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--accent1-color);
    max-width: 100%;
}

nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    text-transform: uppercase;
    margin: 0 10px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

/* Hero styles */
.hero {
    position: relative;
    color: #fff;
}

.hero img {
    width: 100%;
    height: 80%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(87, 76, 76, 0.8);
    padding: 10px;
    border-radius: 8px;
    max-width: 650px;
    height: 150px;
}

.hero article img {
    position: absolute;
    float: left;
    margin-left: 650px;
    max-width: 325px;
}

/* Section styles */
section h2 {
    font-size: 25px;
    color: #000;
    padding: 20px 0;
    text-align: center;
}
/* Form styles */
.styled-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add space between form and other content */
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5em;
}

form input[type="text"],
form textarea,
form select {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: var(--button-color);
    color: white;
    padding: 15px 20px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: darken(var(--button-color), 10%);
}

/* Employee styles */
.employee-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.employee-image img {
    width: 100px; /* Adjust as necessary */
    height: 100px;
    border-radius: 50%; /* Circular images */
    margin-bottom: 0.5em;
}

.employee-caption {
    font-style: normal;
    font-weight: 700;
}

/* Contact info styles */
.contact-info {
    text-align: left;
}

/* Footer styles */
footer {
    background-color: var(--accent2-color);
    color: var(--nav-link-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-size: 0.875rem;
}

footer .sociallinks a {
    margin-left: 10px;
}

footer .sociallinks img {
    width: 24px; /* Adjust as necessary */
    filter: brightness(0) invert(1); /* White icons */
}

@media screen and (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info {
        order: 3;
        margin-top: 20px;
    }

    .employee-images {
        justify-content: center;
    }
}
