@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  
    --primary-color: #E5BE9E;
    --secondary-color: #CBC0AD;
    --accent1-color: #E9DAC8;
    --accent2-color: rgb(123, 123, 24);
  
  
    --heading-font: Playfair Display, serif;
    --paragraph-font: Playfair Display, serif;;
  
    
    --nav-link-color: #ffffff;
    --nav-background-color: #251605;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #032136;
  
  }
 /* General reset and basic styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: var(--heading-font); 
    text-align: center;
  }
  
  /* Header styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--accent1-color);
    max-width: 100%;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    margin: 0 10px;
  }
  
  nav a:hover {
    color: #0056b3;
  }
  
  /* Hero styles */
  .hero {
    position: relative;
    color: #fff;
  }
  
  .hero img {
    width: 100%;
    height: 80%;
    display: block;
  }
  
  .hero h1 {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
  }
  
  .hero article {
    
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(87, 76, 76, 0.8);
    padding: 10px;
    border-radius: 8px;
    max-width: 650px; 
    height: 150px;
  }
  
  .hero article img {
    position: absolute;
    float: left;
    margin-left: 650px;
    max-width: 325px;
  }
  
  /* Section styles */
  section h2 {
    font-size: 25px; 
    color: #000;
    padding: 20px 0;
    text-align: center;
  }

  section img {
    display: inline-block; 
    margin-right: -2px; 
    margin-bottom: 4px;
    vertical-align: top; 
    width: 200px; 
    height: 150px; 
}
.container {
  display: grid; 
  grid-template-columns: 1fr auto 1fr; 
  grid-gap: 20px; 
  align-items: center; 
}

.centered-image img {
  width: 100%; 
  max-width: 200px; 
  height: auto;
}

.adventure-section figure {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 18%; 
 } 

.adventure-section img {
    display: inline-block; 
    margin-right: -1px; 
    margin-bottom: 4px;
    vertical-align: top; 
    width: 200px; 
    height: 150px; 
}


.adventure-section h2 {
  font-size: 25px;
  color: #000;
  padding: 20px 0;
  text-align: center;
  width: 100%; 
}
  
.adventure-section {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

.adventure-section .image-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: nowrap; 
  gap: 1px; 
  width: 100%; 
}

figure {
  margin: 0; 
  width: auto; 
}

figure img {
  width: 100%;
  height: auto;
  display: block; 
}

figure figcaption {
  text-align: center;
  margin-top: 5px;
}

  section p, footer p {
    padding: 10px 0;
  }
  
  /* Footer styles */
  footer {
    background-color: var(--accent2-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  
  footer p {
    margin: 0;
    color: white;
  }
  
  .sociallinks {
    display: flex;
  }
  
  .sociallinks img {
    width: 24px; 
    height: 24px;
    margin-left: 10px;
  }